<form method="POST" action="/coders">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" placeholder="James" required>

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" placeholder="Willis" required>

    <label for="age">Age:</label>
    <input type="number" name="age" placeholder="21" required>
    
    <label for="email"></label>
    <input type="email" name='email' placeholder='firstLast@email.com'>

    <input type="submit" value="Add">
</form>